form {
  padding-top: 40px;
  display: grid;
  width: 100%;
  margin: 0;
}

label {
  text-align: center;
  margin-right: 20 px;
}

input {
  float: right;
  margin-bottom: 20px;
  background-color: var(--second);
  border-style: solid;
  border-color: var(--dark);
  font-size: large;
  text-align: center;
  width: 450px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--second) inset !important;
}
